.Navigation a {
  text-decoration: none;
  flex-direction: row;
  color: #212529;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.Navigation a:hover {
  color: var(--primary-text-color) !important;
  background-color: var(--accent-color-dark);
  border-radius: 4px;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  padding: 4px;
  gap: 35px;
  line-height: 36px;
  min-width: 64px;
}
.menu-icons {
  display: none;
}
@media screen and (max-width: 770px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    transition: 0.3s ease-in-out;
  }
  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
  }
  .menu-icons {
    display: block;
    cursor: pointer;
  }
  .menu-icons i {
    font-size: 1.2rem;
    color: var(--accent-color-dark);
    position: absolute;
    right: 0px;
    top: 15px;
    display: block;
  }
}
